.custom-button {
  height: 120px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
  border-width: 3px;
  border-color: black !important;
  color: black !important;
  background-color: white !important;
}

.custom-button:hover {
  background: linear-gradient(45deg, #0b3d29, #112e15) !important;
  color: white !important;
  transform: scale(1.05);
  border-color: black !important;
}
