.container-celda {
    background-color: antiquewhite;
    width: 40%;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;

    h1 {
        color: rgb(103, 65, 228);
        font-size: 30px;
    }

    &__button {
        display: flex;
        justify-content: space-between;

        >button {
            padding: 4px 4px 4px 4px;
            background-color: black;
        }
    }
}